[Unit]
Description=TECH NET APK MANAGER BOT
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/apk-manager
ExecStart=/usr/bin/python3 /root/apk-manager/bot/bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
